[Unit]
Description=Restart Slop University signage kiosk if it is stuck on an error page

[Service]
Type=oneshot
ExecStart=/usr/local/bin/signage-kiosk-watchdog
